<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <title>Vue.js</title>
    <script src="vue.js"></script>
</head>

<body>
    <!-- 1. 声明式渲染 -->
    <div id="app">
        {{ message }}
        <input type="text" v-model="message" />
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>
    <div id="app-3">
        <div v-if="seen">
            you can see me now .....
        </div>
    </div>

    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">ReverseMessage</button>
    </div>

    <div id="todo">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>


    <script>

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: '页面加载于 ' + new Date().toLocaleString()
            }
        });
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: false
            }
        });
        var app5 = new Vue({
            el: '#app-5',
            data: { message: 'Hello Vue.js' },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        });

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
        });

        var todo = new Vue({
            el: '#todo',
            data: {
                groceryList: [
                    { id: 0, text: '蔬菜' },
                    { id: 1, text: '奶酪' },
                    { id: 2, text: '随便其它什么人吃的东西' }
                ]
            }
        });

    </script>

</body>

</html>